
:root {
  --black: #000;
  --light: #fffcfc;
}

/* #region header */

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 0 1rem 0 0;
}
.bg-dark {
  background: var(--black) !important;
}
.navbar-logo {
  width: 7.1rem;
 }
.navbar-dark .navbar-nav .nav-link{
  color: var(--light);
}
.nav-link {
  font-family: "Rosario";
  font-style: italic;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.navbar-collapse {
  justify-content: flex-end;
}

/* #endregion */