
:root {
  --black: #000;
  --light: #fffcfc;
}

/* #region header */

.navbar-mod {
  position: absolute;
  top: 0;
  width: 100%;
  background: var(--black) !important;
  padding: 0;
  z-index: 1;
  box-sizing: border-box;
}
.container-mod {
  padding: 0;
}
.navbar-brand-mod {
  width: 10%;
  padding: 0;
  margin: 0 0 -0.1% 0;
}
.navbar-toggler-mod {
  color: rgba(255, 255, 255, 0.55) ;
}
.navbar-toggler-icon-mod {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-collapse-mod {
  justify-content: flex-end;
}
.navbar-nav-mod{
  justify-content: flex-end;
  width: 100%;
  padding-right: 1%;
}
.nav-link-mod:hover,
.nav-link-mod:active {
  color: var(--light);
  opacity: 80%;
}
.nav-link-mod:focus,
.nav-link-mod {
  font-family: "Rosario";
  font-style: italic;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.4rem;
  color: var(--light);
  margin-left: 3.7% !important;
  
}

/* #endregion */