:root {
  --black: #000;
  --light: #fffcfc;
}

/* #region header */

.navbar {
  position: sticky;
  z-index: 9;
  top: 0;
  width: 100%;
  padding: 0;
}
.bg-dark {
  background: var(--black) !important;
}
.navbar-brand {
  padding: 0;
  height: 10vh;
}
.navbar-brand > img {
  height: 100%;
}
.navbar-dark .navbar-nav .nav-link {
  color: var(--light);
}
.navbar-nav {
  width: 64%;
  justify-content: space-around;
}
.nav-link {
  font-family: "Rosario";
  font-style: italic;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.7rem;
}
.navbar-collapse {
  justify-content: flex-end;
}

/* #endregion */
