@import url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");

@import url(../css/header.css);

@import url(./animation.css);

:root {
  --black: #000;
  --light: #fffcfc;
  --gray: #e5e5e5;
}
html {
  font-size: 100% !important;
}
body {
  margin: 0;
}
img {
  width: 100%;
}
a:hover {
  color: var(--black);
}

/* #region common */

.box {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  background-color: var(--light);
}
.font-large {
  font-family: "Rosario";
  font-weight: 700;
  font-size: 6rem;
  line-height: 7.2rem;
  color: var(--black);
}
.font-italic {
  font-family: "Rosario";
  font-style: italic;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 3.6rem;
  color: var(--black);
}
.font-form-name {
  font-family: "Volkhov";
  font-weight: 400;
  font-size: 0;
  line-height: 3.8rem;
  color: #fffafa;
}
.font-contactTable {
  font-family: "Rosario";
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.7rem;
  color: rgba(0, 0, 0, 0.5);
}
.font-footerItem {
  font-family: "Rosario";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--black);
}
.font-footerList {
  font-family: "Rosario";
  font-style: italic;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--black);
  text-decoration: none;
}

/* #endregion */

/* #region gallery */

.gallery-box-one {
  width: 19%;
  align-self: center;
  animation: box-one 2s linear 1 forwards;
}
.gallery-box-two {
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: box-one 1s linear 1 forwards;
}
.gallery-box-three {
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: box-two 1s linear 1 forwards;
}
.gallery-box-two > img:first-child,
.gallery-box-three > img:first-child {
  margin-bottom: 3%;
}
.gallery-box-four {
  width: 19%;
  align-self: center;
  animation: box-two 2s linear 1 forwards;
}

/* #endregion */

/* #region section services */

.left {
  position: relative;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.left > div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 55%;
  box-sizing: border-box;
}
.left > div > div {
  width: 56%;
  text-align: center;
}

.left > div:nth-child(1) {
  top: 0;
  left: 0;
  animation: services-one 8s linear infinite;
}
.left > div:nth-child(2) {
  top: 0;
  left: 50%;
  animation: services-two 8s linear infinite;
}
.left > div:nth-child(3) {
  top: 50%;
  left: 50%;
  animation: services-three 8s linear infinite;
}
.left > div:nth-child(4) {
  top: 50%;
  left: 0;
  animation: services-four 8s linear infinite;
}

.left > div > div > p {
  /* margin-top: 1.2rem; */
  margin-bottom: 0;
}
.right {
  width: 50%;
  height: 90vh;
  background: url("../img/pexels-cottonbro.png") center / cover no-repeat;
}

/* #endregion */

/* #region section team */

.box-team {
  flex-direction: column;
  align-items: center;
}
.team {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* .team > div {
  position: relative;
  width: 20%;
}
.team:hover > div {
  filter: brightness(0.5);
}
.team > div:hover {
  filter: none;
}
.team > div > div {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.8rem;
  overflow: hidden;
  background-color: rgba(163, 83, 10, 0.7);
  border-radius: 0% 0% 11% 11%/0% 0% 22% 22%;
}
.team > div:hover > div {
  width: 100%;
} */

.team-card {
  position: relative;
  width: 20%;
}
.team:hover .team-card {
  filter: brightness(0.5);
}
.team .team-card:hover {
  filter: none;
}
.team .card-name {
  position: absolute;
  bottom: 0%;
  width: 0;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  overflow: hidden;
  background-color: rgba(163, 83, 10, 0.8);
  border-radius: 0% 0% 11% 11%/0% 0% 22% 22%;
  transition: width 1s ease-in-out;
}
.team > .team-card:hover .card-name {
  width: 100%;
}

/* #endregion */

/* #region section contact */

.box-contact {
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  align-items: flex-end;
}

.feedback {
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.form-box {
  width: 50%;
  height: 37.5rem;
  margin-right: 2%;
}
.form-title {
  width: 90%;
  font-size: 3.8rem;
  line-height: 4.8rem;
  text-align: center;
  margin-bottom: 3%;
}

/* form */
.form {
  height: 69%;
  display: grid;
  grid-template-columns: 40.2% 54.2%;
  grid-template-rows: 30% 60.2%;
  row-gap: 10%;
  column-gap: 5.3%;
  background: #e5e5e5;
  padding: 3.2%;
}
.form-field {
  background: var(--light);
}
.form-field-textarea {
  grid-column: 1/3;
  background: var(--light);
}
.form-input {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  outline: none;
  background: transparent;
  padding: 3%;
}
.form-input-textarea {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  outline: none;
  resize: none;
  background: transparent;
  padding: 1.3%;
}
.map {
  width: 37.5rem;
  height: 37.5rem;
}
.map-link {
  width: 100%;
  height: 100%;
}

/* footer */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.footer__list {
  list-style: none;
  text-align: center;
  padding: 0;
}
.worktime {
  text-align: center;
}
.worktime-item {
  font-size: 2.2rem;
  line-height: 4.4rem;
}
.cosial {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-footer-cosial__item {
  margin: 3.5% 0 0 0;
}
.contact-footer-cosial__list {
  width: 65%;
  text-align: left;
}
.contact-footer-cosial-icon {
  width: 1.6rem;
  height: 1.6rem;
  color: var(--black);
  margin-right: 6%;
}

/* #endregion */

/* #region media */

@media screen and (max-width: 1619px) {
  html {
    font-size: 50% !important;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 50% !important;
  }

  /* gallery */
  .box-gallery {
    width: 85%;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 54% 46%;
    /* row-gap: 3%; */
    column-gap: 2%;
    margin: 0 auto;
    padding-top: 5%;
  }
  .gallery-box-one {
    width: 100%;
    order: 1;
    animation: box-two 1s linear 1 forwards;
  }
  .gallery-box-two {
    width: 68%;
    justify-self: flex-end;
    order: 3;
    animation: box-two 0.8s linear 1 forwards;
  }
  .gallery-box-three {
    width: 68%;
    justify-self: flex-start;
    order: 4;
    animation: box-one 0.8s linear 1 forwards;
  }
  .gallery-box-four {
    width: 100%;
    order: 2;
    animation: box-one 1s linear 1 forwards;
  }

  /* services */
  .box-service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .left {
    width: 70%;
    height: 45vh;
    align-self: center;
    order: 2;
  }
  .right {
    width: 100%;
    height: 45vh;
    order: 1;
  }
  .left > div {
    height: 50%;
  }

  /* team */
  .team {
    width: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-items: center;
  }
  .team-card {
    width: 90%;
    margin-top: 10%;
  }

  /* contact */
  .box-contact {
    align-items: center;
  }
  .form-box {
    width: 60%;
    height: 32.5vh;
    margin: 0 0 0 0;
    order: 1;
  }
  .form-title {
    width: 100%;
  }
  .form {
    height: 76%;
  }
  .footer {
    /* height: 90rem; */
    flex-direction: column;
    align-items: center;
    order: 2;
  }
  .map {
    order: 3;
  }
  .worktime-item {
    margin: 0 0 3% 0;
  }
  nav {
    order: 3;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50% !important;
  }
  .font-large {
    font-size: 5rem;
  }

  /* gallery */
  
  .box-gallery {
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    padding: 0;
  }
  .box-gallery > div {
    width: 100%;
    margin-top: 10%;
  }
  .gallery-box-two > img:first-child,
  .gallery-box-three > img:first-child {
    animation: box-two 0.8s linear 1 forwards;
    margin-bottom: 10%;
  }
  .gallery-box-two > img:last-child,
  .gallery-box-three > img:last-child {
    animation: box-one 0.8s linear 1 forwards;
  }
  .gallery-box-one {
    order: 1;
    animation: box-one 0.8s linear 1 forwards;
  }
  .gallery-box-two {
    order: 2;
    animation: none;
  }
  .gallery-box-three {
    order: 3;
    animation: none;
  }
  .gallery-box-four {
    order: 4;
    animation: box-two 0.8s linear 1 forwards;
  }

  /* serbices */
  .box-service {
    height: 100vh;
    justify-content: center;
  }
  .left {
    width: 83.7%;
  }
  .left > div > div > p {
    line-height: 2rem;
    margin-top: 8%;
  }
  .right {
    display: none;
  }

  /* team */
  .box-team {
    height: 100%;
    overflow: visible;
    padding-bottom: 20%;
  }
  .box-team > div:first-of-type {
    text-align: center;
  }
  .team-title {
    font-size: 6.6rem;
    text-align: center;
    margin: 10% 0;
  }
  .team {
    grid-template-columns: 100%;
    grid-template-rows: none;
    row-gap: 0;
  }
  .team-card {
    margin-top: 20%;
  }
  .team:hover .team-card {
    filter: none;
  }

  /* contact */
  .feedback {
    height: 100%;
    overflow: visible;
    padding-top: 10%;
  }
  .form-box {
    width: 100%;
    margin: 0 0 0 0;
    order: 3;
  }
  .form-title {
    width: 100%;
    height: 62%;
    font-size: 2.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray);
    margin-bottom: 0;
    padding: 0 5%;
  }
  .form {
    height: 76rem;
    grid-template-rows: 15% 15% 50%;
    grid-template-columns: none;
    padding: 0% 12% 12% 12%;
  }
  .form-field {
    border-radius: 1rem;
  }
  .form-field-textarea {
    height: 33rem;
    grid-column: 1;
    border-radius: 1rem;
  }
  .footer {
    height: 45vh;
    flex-direction: column;
    align-items: center;
    order: 2;
  }
  .map {
    width: 35.5rem;
    height: 35.5rem;
    order: 1;
  }
  .worktime-item {
    margin: 0 0 3% 0;
  }
  nav {
    order: 1;
  }
  .worktime {
    order: 3;
  }
  .cosial {
    order: 2;
  }
}

/* #endregion */
